
/* 002FCF */
/* D73015 */


.wrapper {
    margin: 0 auto;
}

#question {

}

#answersDisplay {

}

.heading {


}

/* timer bar */
.bar {
  border: 1px solid #666;
  height: 20px;
  width: 50%;
  margin: 0 auto;
  }

.bar .inside {
        animation: fill 9s linear 1;
        height: 100%;
        background-color: firebrick;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* end timer */
